* {
    font-family: verdana;
}

#main-middle-form {
    margin-top: 24px;
	background-color: #fff;
	height: 544px;
    float: left;
	width: 557px;
    text-align: center;
	border: 1px solid #20207e;
	margin-left: 193px;
}

form input, select, textarea {
    font-size: 16px;
    margin-top: 15px;
    border: 1px solid #ced4da;
}

select {
    width: 230px;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    padding: 6px 12px;
    border-radius: 4px;
}

#Error1, #Error2, #Error3 {
    margin-top: 10px;
    display: none;
    color: red;
    font-size: 12px;   
}

#result {
    margin-top: 35px;
}

input[type="button"], input[type="submit"] {
    border-radius: 4px;
    background-color: #007bff;
    border: 1px solid transparent;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    height: 40px;
    width: 230px;
}

main input[type="text"] {
    padding: 6px 12px;
    border-radius: 4px;
}